@import 'tailwindcss';
@import 'tw-animate-css';

@import './fonts.css';
@import './design-tokens.css';
@import './typography.css';

@custom-variant dark (&:is(.dark *));

@layer base {
  :root,
  html,
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    @apply font-sans;
    background-color: var(--moyeoit-white);

    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@theme {
  --breakpoint-phone: 360px;
  --breakpoint-desktop: 768px;
}
