@utility typo-caption-3 {
  font-size: var(--text-caption-3);
  line-height: 1.5;
  font-weight: 500;
}

@utility typo-caption-2 {
  font-size: var(--text-caption-2);
  line-height: 1.5;
  font-weight: 600;
}

@utility typo-caption-1 {
  font-size: var(--text-caption-1);
  line-height: 1.5;
  font-weight: 600;
}

@utility typo-button-m {
  font-size: var(--text-button);
  line-height: 1.5;
  font-weight: 500;
}

@utility typo-button-b {
  font-size: var(--text-button);
  line-height: 1.5;
  font-weight: 600;
}

@utility typo-sm-body-1-5 {
  font-size: var(--text-body-4);
  line-height: 1.5;
  font-weight: 500;
}

@utility typo-body-3-3-r {
  font-size: var(--text-body-3);
  line-height: 1.5;
  font-weight: 400;
}

@utility typo-body-3-2-m {
  font-size: var(--text-body-3);
  line-height: 1.5;
  font-weight: 500;
}

@utility typo-body-3-1-sb {
  font-size: var(--text-body-3);
  line-height: 1.5;
  font-weight: 600;
}

@utility typo-body-3-b {
  font-size: var(--text-body-3);
  line-height: 1.5;
  font-weight: 700;
}

@utility typo-body-2-3-m {
  font-size: var(--text-body-2);
  line-height: 1.5;
  font-weight: 500;
}

@utility typo-body-2-2-sb {
  font-size: var(--text-body-2);
  line-height: 1.5;
  font-weight: 600;
}

@utility typo-body-2-b {
  font-size: var(--text-body-2);
  line-height: 1.5;
  font-weight: 700;
}

@utility typo-body-1-3-m {
  font-size: var(--text-body-1);
  line-height: 1.5;
  font-weight: 500;
}

@utility typo-body-1-2-sb {
  font-size: var(--text-body-1);
  line-height: 1.5;
  font-weight: 600;
}

@utility typo-body-1-b {
  font-size: var(--text-body-1);
  line-height: 1.5;
  font-weight: 700;
}

@utility typo-title-3 {
  font-size: var(--text-title-3);
  line-height: 1.5;
  font-weight: 700;
}

@utility typo-title-2-1-sb {
  font-size: var(--text-title-2);
  line-height: 1.5;
  font-weight: 600;
}

@utility typo-title-2-m {
  font-size: var(--text-title-2);
  line-height: 1.5;
  font-weight: 500;
}

@utility typo-title-2-b {
  font-size: var(--text-title-2);
  line-height: 1.5;
  font-weight: 700;
}

@utility typo-title-1-3-m {
  font-size: var(--text-title-1);
  line-height: 1.5;
  font-weight: 500;
}

@utility typo-title-1-2-sb {
  font-size: var(--text-title-1);
  line-height: 1.5;
  font-weight: 600;
}

@utility typo-title-1-b {
  font-size: var(--text-title-1);
  line-height: 1.5;
  font-weight: 700;
}

@utility typo-main-title {
  font-size: var(--text-main-title);
  line-height: 1.5;
  font-weight: 700;
}

@utility typo-review-title {
  font-size: var(--text-review-title);
  line-height: 1.5;
  font-weight: 700;
}

/* 이전버전 */
@utility typo-title-1 {
  font-size: var(--text-title-1);
  line-height: 1.5;
  font-weight: 700;
}
@utility typo-title-2 {
  font-size: var(--text-title-2);
  line-height: 1.5;
  font-weight: 700;
}

@utility typo-body-2-sb {
  font-size: var(--text-body-2);
  line-height: 1.5;
  font-weight: 600;
}
@utility typo-body-2-2-m {
  font-size: var(--text-body-2);
  line-height: 1.5;
  font-weight: 500;
}

@utility typo-body-3-2-b {
  font-size: var(--text-body-3);
  line-height: 1.5;
  font-weight: 600;
}

@utility typo-body-3-2-m {
  font-size: var(--text-body-3);
  line-height: 1.5;
  font-weight: 500;
}

@utility typo-body-4-m {
  font-size: var(--text-body-4);
  line-height: 1.5;
  font-weight: 300;
}

@utility typo-caption-m {
  font-size: var(--text-caption-m);
  line-height: 1.5;
  font-weight: 500;
}
@utility typo-caption-sb {
  font-size: var(--text-caption-sb);
  line-height: 1.5;
  font-weight: 600;
}
