@utility typo-smallbody-3 {
  font-size: var(--text-caption-3);
  line-height: 1.5;
  font-weight: 500;
}

@utility typo-smallbody-2 {
  font-size: var(--text-caption-2);
  line-height: 1.5;
  font-weight: 600;
}

@utility typo-smallbody-1.5 {
  font-size: var(--text-body-4);
  line-height: 1.5;
  font-weight: 500;
}

@utility typo-smallbody-1 {
  font-size: var(--text-caption-1);
  line-height: 1.5;
  font-weight: 600;
}

@utility typo-medibody-m3 {
  font-size: var(--text-body-2);
  line-height: 1.9;
  font-weight: 500;
}

@utility typo-medibody-m2 {
  font-size: var(--text-button);
  line-height: 1.7;
  font-weight: 500;
}

@utility typo-medibody-m {
  font-size: var(--text-button);
  line-height: 1.5;
  font-weight: 600;
}

@utility typo-medibody-b {
  font-size: var(--text-button);
  line-height: 1.5;
  font-weight: 600;
}

@utility typo-body-3-3-r {
  font-size: var(--text-body-3);
  line-height: 1.5;
  font-weight: 400;
}

@utility typo-body-3-2-m {
  font-size: var(--text-body-3);
  line-height: 1.5;
  font-weight: 500;
}

@utility typo-body-3-1-sb {
  font-size: var(--text-body-3);
  line-height: 1.5;
  font-weight: 600;
}

@utility typo-body-3-b {
  font-size: var(--text-body-3);
  line-height: 1.5;
  font-weight: 700;
}

@utility typo-body-2-3-m {
  font-size: var(--text-body-2);
  line-height: 1.5;
  font-weight: 500;
}

@utility typo-body-2-2-sb {
  font-size: var(--text-body-2);
  line-height: 1.5;
  font-weight: 600;
}

@utility typo-body-2-b {
  font-size: var(--text-body-2);
  line-height: 1.5;
  font-weight: 700;
}

@utility typo-body-1-3-m {
  font-size: var(--text-body-1);
  line-height: 1.5;
  font-weight: 500;
}

@utility typo-body-1-2-sb {
  font-size: var(--text-body-1);
  line-height: 1.5;
  font-weight: 600;
}

@utility typo-body-1-b {
  font-size: var(--text-body-1);
  line-height: 1.5;
  font-weight: 700;
}

@utility typo-title-3 {
  font-size: var(--text-title-3);
  line-height: 1.5;
  font-weight: 700;
}

@utility typo-title-2-1-sb {
  font-size: var(--text-title-2);
  line-height: 1.5;
  font-weight: 600;
}

@utility typo-title-2-b {
  font-size: var(--text-title-2);
  line-height: 1.5;
  font-weight: 700;
}

@utility typo-title-1-3-m {
  font-size: var(--text-title-1);
  line-height: 1.5;
  font-weight: 500;
}

@utility typo-title-1-2-sb {
  font-size: var(--text-title-1);
  line-height: 1.5;
  font-weight: 600;
}

@utility typo-title-1-b {
  font-size: var(--text-title-1);
  line-height: 1.5;
  font-weight: 700;
}

@utility typo-main-title {
  font-size: var(--text-main-title);
  line-height: 1.5;
  font-weight: 700;
}

@utility typo-review-title {
  font-size: var(--text-review-title);
  line-height: 1.5;
  font-weight: 700;
}
